 <div class="section">
      <!--   Icon Section   -->
     
        <div class="row">
          <div class="col s6 m3">
         
			<input type="text" placeholder="Search" class="form-control ng-valid ng-dirty" ng-model="grdsearch">
			
        </div>
        <div class="col s12 m12">
            <table class="responsive-table highlight">
              <thead>
                <tr  class="grey lighten-2">
                  <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">id</a></th>
                    <th>Full Name</th>
                    <th>age</th>
                    <th>employer</th>
                    <th>joiningDate</th>
                    <th>location</th>
                    <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="gridcontent in gridcontents | filter: grdsearch | startFrom:currentPage*pageSize | limitTo:pageSize">
                  <td>{{gridcontent.id}}
                  </td>
                  
                  <td>{{gridcontent.firstName + " " + gridcontent.lastName}}
                  </td>
                  <td>{{gridcontent.age}}
                  </td>
                  <td>{{gridcontent.employer}}
                  </td>
                  
                    <td>{{gridcontent.joiningDate}}
                  </td>
                     <td>{{gridcontent.location}}
                  </td>
                    
                  <td>
                    <button class="btn-floating btn-small waves-effect waves-light green" title="View" ng-click="viewRow(gridcontent.id)"><i class="material-icons">remove_red_eye</i></button>

                      <button class="btn-floating btn-small waves-effect waves-light red" title="remove" ng-click="removeRow(gridcontent.name)"><i class="material-icons">delete</i></button></td>   
                  
                </tr>
               
              </tbody>
            </table>
             <button class="waves-effect waves-light btn btn-small" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="waves-effect waves-light btn btn-small" ng-disabled="currentPage >= gridcontents.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>

      </div>  

    </div>

      <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons left">close</i> Close</a>
    </div>
  </div>

    